body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#unic
{
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	text-align: center;
	color: #efefef;
	background-color: #000;
}

.box-1 {
    width: 300px;
    margin: 10px 10px  0 10px;
    padding: 6px;
    border: 1px solid #607d8b;
    border-radius: 8px;
    color: #f2e8e8;
    background: #03a9f4;
    float: left;
}

.box-1 h2 
{
	margin: 0;
	text-align: center;
}

.box-1 p 
{
	margin: 6px 2px;
}

.box-1 button {
    margin-left: 6px;
    padding: 5px 16px;
    font-size: 14px;
    border: 1px solid #607d8b;
    border-radius: 5px;
    background: #3f51b5;
    color: #fff;
}

/* Box-2 start here */
.box-2 {
    width: 300px;
    margin: 10px 0  0 10px;
    padding: 6px;
    border: 1px solid #607d8b;
    border-radius: 8px;
    color: #e0dce1;
    background: #0c3658bf;
    overflow: hidden;
    box-shadow: 2px 2px 5px #607d8b;
}


.box-2 button {
    padding: 4px 15px;
    border: 1px solid #efef;
    border-radius: 5px;
    font-size: 14px;
    background: #607d8b;
    margin-bottom: 4px;
    color: #efefef;
}
.box-2 h2
{
	margin: 0;
	text-align: center;
}
.box-2 h2:hover,
.box-2 p:hover 
{
	color: #efef;
}
.box-2 button:hover 
{
	border: 1px solid #000;
	color: #000;
}

#social
{
	text-align: center;
}