body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#unic
{
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	text-align: center;
	color: #efefef;
	background-color: #000;
}

.box-1 {
    width: 300px;
    margin: 10px 0  0 10px;
    padding: 6px;
    border: 1px solid #607d8b;
    border-radius: 8px;
    color: #f2e8e8;
    background: #03a9f4;
}

.box-1 h2 
{
	margin: 0;
	text-align: center;
}

.box-1 p 
{
	margin: 6px 2px;
}

.box-1 button {
    margin-left: 6px;
    padding: 5px 16px;
    font-size: 14px;
    border: 1px solid #607d8b;
    border-radius: 5px;
    background: #3f51b5;
    color: #fff;
}
